---
name: sbom

on:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: "0 5 * * 1"

jobs:
  sbom:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          path: .
          format: cyclonedx-json
          output-file: sbom.cdx.json
          artifact-name: sbom.cdx.json
